<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://unpkg.com/dexie@latest/dist/dexie.js"></script>
<script src="app.js"></script>
<link rel="stylesheet" type="text/css" href="loginStyle.css">
<body>
<div class="login-page" ng-app="loginApp" ng-controller="loginFormController">
    <form class="form" name="registerForm" ng-submit="submitForm(loginForm.$valid)" novalidate>

        <div class="form-group" ng-class="{ 'has-error' : 
            loginForm.name.$invalid && !loginForm.name.$pristine }">
            <input type="text" placeholder="name" ng-model="username" required>
            <p ng-show="loginForm.name.$dirty && loginForm.name.$error.required" 
                class="help-block">Name is required</p>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : 
            loginForm.password.$invalid && !loginForm.password.$pristine }">
            <input type="password" placeholder="password" ng-model="password" ng-minLength="6" required>
            <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" 
                class="help-block">Password must be at least 6 characters.</p>
        </div>

        <button type="submit">create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>

    </form>
</div>
</body>
</html>